<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="mySQL.properties"/>
    <typeAliases>
        <typeAlias alias="Role" type="main.java.org.solvd.tableClasses.Role"/>
        <typeAlias alias="User" type="main.java.org.solvd.tableClasses.User"/>
        <typeAlias alias="UserDao" type="main.java.DAO.UserDao"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>

            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${user}"/>
                <property name="password" value="${password}"/>
            </dataSource>

        </environment>
    </environments>

    <mappers>
        <mapper resource="mappers/user_mapper.xml"/>
        <mapper resource="mappers/role_mapper.xml"/>
    </mappers>

</configuration>